# Archivos de diferentes IDEs.
/.idea/
/.vscode/**
!/.vscode/tasks.json
.editorconfig

debug.log

# Archivos MAC
.DS_Store

# Archivos de desarrollo.
/node_modules/

# Archivos de documentación (phpdox).
/.tmp-doc/
/documentation/

################################################################################
# Configuración para proyectos Drupal con Composer.
################################################################################

# Variables de entorno para el proyecto actual.
.env

# Archivos generados por Composer.
/drush/contrib/
/vendor/
/tmp/

/web/core/
/web/modules/contrib/
/web/modules/custom/*/node_modules
/web/modules/custom/*/vendor
/web/themes/contrib/
/web/themes/custom/*/node_modules
/web/profiles/contrib/
/web/libraries/

# Directorio de Archivos de Drupal.
/web/sites/*/files/
/web/sites/simpletest
/private_files

# Según la naturaleza del proyecto puede que se tengan que ignorar también
# estos archivos.
/web/sites/*/settings.php
# /web/sites/*/settings.local.php
