# Archivos de diferentes IDEs.
/.idea/
/.vscode/**
!/.vscode/tasks.json
*.un~
.editorconfig

# Archivos de log.
debug.log

# Archivos del SO.
.DS_Store
thumbs.db
Thumbs.db
._*

# Packages.
*.7z
*.dmg
*.gz
*.bz2
*.iso
*.jar
*.rar
*.tar
*.zip
*.tgz

# Archivos de desarrollo.
/node_modules/
.sass-cache

# Archivos de documentación (phpdox).
/.tmp-doc/
/documentation/

################################################################################
# Configuración para proyectos Drupal con Composer.
################################################################################

# Variables de entorno para el proyecto actual.
.env

# Archivos generados por Composer.
/drush/contrib/
/vendor/
/tmp/

/web/core/
/web/modules/contrib/
/web/modules/custom/*/node_modules
/web/modules/custom/*/vendor
/web/themes/contrib/
/web/themes/custom/*/node_modules
/web/profiles/contrib/
/web/libraries/

# Directorio de Archivos de Drupal.
/web/sites/*/files/
/web/sites/simpletest
/private_files

# Según la naturaleza del proyecto puede que se tengan que ignorar también
# estos archivos.
/web/sites/*/settings.php
# /web/sites/*/settings.local.php
